body, html {
  margin: 0;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  height: 100%;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.v-header{
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;

}

.v-header .container {

  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;

}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

 video {
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #282e34;
  opacity: 0.85;
  z-index: 1;
}

 .content {
  z-index: 2;
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  font-family: 'Londrina Shadow', cursive, 'Segoe UI', Tahoma,sans-serif;
}

header .content h1 {
  font-size: 3.9rem;
  margin-bottom: 0;
  max-width: 800px;
  color: #fff;
}

header .content p {
  max-width: 500px;
  font-size: 2.5rem;
  display: block;
  padding-bottom: 2rem;
  color: #fff;
}

.button {
  background: #34b3a0;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: monospace;
}

.button:hover {
  background-color: teal;
}


/* making the button do click action when clicked */
.button:active{
  position: relative;
  top: 2px;
}

.pmg1, .pmg2, .pmg3, .pmg4, .pmg5, .pmg6, .pmg7 {
  position:relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*
   fixed = parallax;
   scroll = normal;
  */
  background-attachment: fixed;

}

.pmg1 {
  background-image: url("../img/img-1.jpeg");
  min-height: 100%;
  margin-top: 0;
}

.pmg2 {
  background-image: url("../img/img-2.jpeg");
  min-height: 400px;
}

.pmg3 {
  background-image: url("../img/img-3.jpg");
  min-height: 500px;
}

.pmg4 {
  background-image: url("../img/img-4.jpg");
  min-height: 400px;
}

.pmg5 {
  background-image: url("../img/img-5.jpeg");
  min-height: 500px;
}

.pmg6 {
  background-image: url("../img/img-6.jpeg");
  min-height: 400px;
}

.pmg7 {
  background-image: url("../img/img-7.jpeg");
  min-height: 500px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.light {
  background-color: #f4f4f4;
  color: #666;
}

.dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  text-transform: uppercase;
  letter-spacing: 8px;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .trans {
  color: #000;
  padding: 20px;
}

.btn {
  text-decoration: none;
  padding: 10px;
}

.light .btn  {
  color: #ddd;
  background-color: #282e34;
}

.dark .btn  {
  color: #282e34;
  background-color: #ddd;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.btn:active {
  position: relative;
  top: 2px;
}

.foot{
  text-align: center;
  padding: 40px;
  background-color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  word-spacing: 4px;
}

@media(max-width: 568px) {
  .pmg1, .pmg2, .pmg3 {
    background-attachment: scroll;
  }

  .ptext{
    font-size: 20px;
  }

  .border {
    font-size: 10px;
    padding: 1px;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

@media(max-width: 470px) {

    .content h1 {
      font-size: 20px;

    }
  }

@media(max-width: 710px) {
  .foot {
    font-size:17px;
    letter-spacing: 3px;
  }

  .border {
    font-size: 16px;
    padding: 5px;
  }
}

@media(max-width: 315px) {
  .ptext{
    font-size: 11px;
  }
  .border {
    font-size: 10px;
    padding: 1px;
    letter-spacing: 1px;
    word-spacing: 2px;
  }
}

@media(max-width:960px) {

  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media(max-width:378px) {

  .button {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}

@media(max-width:309px) {

  .button {
    font-size: 1rem;
  }
}
